<%= form_for @form, url: forms_path do |builder| %>
  <div class="title_field">
    <%= builder.label :title %><br>
    <%= builder.text_field :title %>
  </div>
  
 
  <div class="text_field">
    <%= builder.label :text %><br>
    <%= builder.text_area :text %>
  </div>

  <div class="questions">
    <%= builder.fields_for :questions do |builder| %>
      <%= render 'question_fields', f: builder %>
    <% end %>
  </div>

  <div class="action">
    <%= builder.submit %>
  </div>
  
<% end %>